table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    color: white;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #666;
}

.fr2{
  position: absolute;
  justify-content: space-between;
  left: 2%;
  align-content: space-between;
  top: 110%;
}

.fr2 .crear{
  position: absolute;
  justify-content: space-between;
  left: 2%;
  align-content: space-between;
  top: 90%;
}
